block content
  div
    div#categories
      each field, index in categorical
        input(type="checkbox" name="categorical" value=`${field}` style="height:14px; width:14px;" checked) 
        div(style="display: inline-block; opacity:0.8; left:70px; width: 90%; font-size:16px; vertical-align:top; margin-bottom:10px;")
          - var fieldLabel = field.trim().length == 0 ? '[No Value]' : field
          label #{fieldLabel}
          span(style="width:16px; height:16px; float: right;")
            - var fieldID = 'field-' + field.replace(/[\s|0-9|\(|\)]/g, '-')
            - var buttonID = fieldID + '-button'
            - var click = '$(this).Toggle("#' + fieldID + '","#' + buttonID + '")'
            input(type="button" id=`${buttonID}` onclick=`${click}` style="width:16px; height:16px; border:none; background: url('assets/icons/up-chevron-button.svg'); background-size: cover;  background-repeat: no-repeat;") 
          div(id=`${fieldID}` style="display:none;")
            each filter in filters.get(field).sort()
              div(style="display: inline-block; left:70px; width: 200px; vertical-align:top; margin-top:5px;")
                - var filterID = field + '-option'
                input(type="checkbox" name=`${filterID}` value=`${filter}` style="height:12px; width:12px;" checked) 
                div(style="display: inline-block; left:130px; width:160px; vertical-align:top; font-size:14px; opacity:0.7")
                  - var filterLabel = filter.trim().length == 0 ? '[No Value]' : filter
                  label #{filterLabel}
      br(style="height:2px;")
    hr
    div#continuous
      each field in continuous
        input(type="checkbox" name="continuous" value=`${field}` style="height:14px; width:14px;") 
        div(style="display: inline-block; opacity:0.8; left:70px; width: 90%; font-size:16px; vertical-align:top; margin-bottom:10px;")
          - var fieldLabel = field.trim().length == 0 ? '[No Value]' : field
          label #{fieldLabel}
          span(style="width:16px; height:16px; float: right;")
            - var fieldID = 'field-' + field.replace(/[\s|0-9|\(|\)]/g, '-')
            - var buttonID = fieldID + '-button'
            - var click = '$(this).Toggle("#' + fieldID + '","#' + buttonID + '")'
            input(type="button" id=`${buttonID}` onclick=`${click}` style="width:16px; height:16px; border:none; background: url('assets/icons/up-chevron-button.svg'); background-size: cover;  background-repeat: no-repeat;") 
          div(id=`${fieldID}` style="display:none;")
            each selector in selectors.get(field).sort()
              div(style="display: inline-block; left:70px; width: 200px; vertical-align:top; margin-top:5px;")
                - var selectorID = field + '-option'
                input(type="checkbox" name=`${selectorID}` value=`${selector}` style="height:12px; width:12px;" checked) 
                div(style="display: inline-block; left:130px; width:160px; vertical-align:top; font-size:14px; opacity:0.7")
                  - var selectorLabel = selector.trim().length == 0 ? '[No Value]' : selector
                  label #{selectorLabel}
        br(style="height:5px;")

